.gender-selection-box {
  /* position: absolute; */
  /* top: 20%; */
  /* left: 300px; */
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.gender-selection-box-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.gender-button {
  width: 90px;
  display: flex;
  justify-content: center;
  height: 40px;
}

.gender-button:hover {
  cursor: pointer;
}
