.assets-box {
  position: absolute;
  bottom: 20%;
  left: 10px;
  width: 100px;
  height: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-weight: 250;
}

.assets-box-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 120px;
  width: 350px;
  bottom: 20%;
}

.category-button {
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.category-button:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.asset-button {
  height: 100px;
  width: 50px;
  background-color: transparent;
}

.glass-card {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.35);
}
